#main{
	background-color:#2f89fc;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#sec_main{
	height: 50%;
	width: 50%;
}
#text{
	color: white;
}
#parent{
	height: 100%;
	width: 100%;
	border : 3px dashed rgba(255,255,255,0.60);
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	padding: 10px;
}
#browse_image_container{
	padding: 10px;
}
#browse_image_container #browse_image{
	font-size: 4vw;
	color: white;
}
.btn{
	background-color: white;
	margin: 10px;
}

